{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex-1 p-6 transition-all duration-200 ease-in-out">
    <!-- Header -->
    <div class="md:hidden flex justify-between items-center bg-gray-800 text-white p-4">
        <h1 class="text-xl font-bold">GAPOKTAN</h1>
        <button @click="isSidebarOpen = !isSidebarOpen" class="focus:outline-none">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <header class="mb-8">
        <h1 class="text-3xl font-bold text-gray-800">Daftar, Kesehatan Tanaman</h1>
        <p class="text-gray-600">Selamat Datang Gapoktan Di Industri Pertanian Kecamatan Mlandingan.</p>
    </header>

    <div class="container mx-auto px-4 py-8">
        <h2 class="text-3xl font-bold text-center mb-8 text-green-700">Kesehatan Tanaman</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            
  
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">

     

       
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">

        {% for row in tanaman %}

        <img src="{{ row.gambar_tanaman.url }}" alt="Sawah Kelompok" class="rounded-lg w-full h-48 object-cover mb-4 cursor-pointer"onclick="openImageModal('{{ row.gambar_tanaman.url }}')"> 
        <div class="p-4">
            <h3 class="text-lg font-bold">Lahan : {{ row.lahan }}</h3>
            <p>Kondisi : {{ row.kondisi}}</p>
            <p>Penyakit dan Tindakan: {{ row.isi_penyakit_dan_tindakan|striptags|linebreaksbr }}</p>


        {% endfor%}
</div>
</div>
{% endblock content %} 